<ion-header>
  <section style="position: relative;width: 100%;background-color: aliceblue;height: 25vh;display: flex;justify-content: center;align-items: center;flex-direction: column;">
    <hr>
    <section style="width: 100%;display: flex;flex-direction: row;justify-content: space-around;align-items: center;">
        <!-- <img src="../../assets/img/Vector-1.png" style="width: 7vw;"> -->
        <ion-icon (click)="moveOnMenu()" style="color: #00a4f2;cursor: pointer;font-size: bold;" name="home"></ion-icon>
        <img src="../../assets/img/Logo.png" style="width: 23vw;">
        <section style="width: 7vw;"></section>
       
  </section>
  <hr>
  <section style="display: flex;justify-content: center;align-items: center;flex-direction: row;width: 80%;">
  
      <section style="height: 5vh;border-bottom: 0.5vh solid #00a4f2;bottom: 0;display: flex;align-items: center;justify-content: center; flex-direction: row;cursor: pointer;">
          <ion-icon (click)="moveOnMenu()" style="color: #00a4f2;width: 6vw;" name="calculator"></ion-icon>
          <p style="font-size: 3vw;margin: 1px;">Calculateur de frais</p>
      </section>

  </section>
</section>
  </ion-header>

  <ion-content>
    <hr>
    <form [formGroup]="formGroup" (ngSubmit)='calculFrais()'>
      <section style="margin: O auto;width: 90%;display: flex;justify-content: center;align-items: center;">
        <ion-list  style="background-color: aliceblue;"> 
        <ion-item>
          <ion-label>Type de transaction</ion-label>
          <ion-select interface="popover" placeholder="Choisir type" formControlName="type">
            <ion-select-option value="depot">Depot</ion-select-option>
            <ion-select-option value="retrait">Retrait</ion-select-option>
          </ion-select>
        </ion-item>      
          <ion-item >
            <ion-label class="label" position="stacked">Montant</ion-label>
            <ion-input placeholder="montant." [ngModel]="montant" type="number" formControlName="montant"></ion-input>
          </ion-item>
        </ion-list>
      </section>
      <hr>
      <section style="margin: 1vh auto;padding: 0;width:90%;display: flex;justify-content:end;align-items: center;font-size: 4vw;">
        <ion-button [disabled]="!formGroup.valid" type="submit" class="total" slot="end"  expand="block">
            Calculer
        </ion-button>
      </section>
      <hr>
    </form>
    
  
  </ion-content>
