ion-content{
    --background: #00a4f2;
    --padding-top: 7vh;
}
ion-toolbar{
    --background: #00a4f2;
}
ion-footer{
    background: #00a4f2;
}

ion-item{
    --background: #00a4f2;
    cursor: pointer;
}
